<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>County View</title>
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
</head>
</head>
<body>
{{#records}}
    <a href = "/data/{{energy}}/county/{{.}}">{{.}}</a> <br/>
{{/records}}
</body>
</html>

