<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{{planningarea}} Planning Area</title>
    <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.css">
</head>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          [ 'Year', 'Residential', 'Industry', 'Ag & Water Pump', 'Total Usage', 'Commercial Other', 'Mining & Construction', 'Commercial Building'],
          {{#records}}
          ['{{Year}}', {{Residential}}, {{Industry}}, {{Ag & Water Pump}}, {{Total Usage}}, {{Commercial Other}}, {{Mining & Construction}}, {{Commercial Building}}],
          {{/records}}
        ]);

        var options = {
          title: ''
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<div id="chart_div" style="height: 600px;"></div>
</body>
</html>